
.title {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: rgb(47, 46, 46);
    margin-top: 20px;
    padding-bottom: 20px;
    font-family: 'Marker Felt', sans-serif;
}

.grid {
    width: 500px;
    height: 500px;
    display: grid;
}

button {
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px; 
}

.reset {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(63, 63, 63);
    width: 30px;
    display: flex;
    flex-direction: row;
}

#colourBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}
