
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(204, 5, 5);
}

.title {
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    color: rgb(255, 196, 0);
    margin-top: 20px;
    padding-bottom: 20px;
    font-family: 'Marker Felt', sans-serif;
    -webkit-text-stroke: 3px black;
}

.container {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    padding: 3px;
    width: 503px
}

.grid {
    width: 500px;
    height: 500px;
    display: grid;
}

button {
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px; 
    font-family: 'Marker Felt', sans-serif;
    font-size: 25px;
    background-color: white;
    border: 2px solid black;
}

.reset {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(63, 63, 63);
    width: 30px;
    display: flex;
    flex-direction: row;
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

#contents {
    display: flex;
    gap: 20px;
}
